.whatsappFloat {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  
  .whatsappFloat:hover {
    transform: scale(1.1);
  }
  